<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
<div id="header">
  <nav style="display: flex; align-items: center; justify-content: space-between; padding: 10px 0;">
    <div class="logo">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="NetGuard Home Logo" style="height: 50px; width: auto;">
      </a>
    </div>

    <ul class="nav-links" style="display: flex; list-style: none; gap: 15px; margin: 0;">
      <li><a href="{{ '/' | relative_url }}" class="nav-btn">Home</a></li>
      <li><a href="{{ '/about.md' | relative_url }}" class="nav-btn">About Us</a></li>
      <li><a href="{{ '/contact.md' | relative_url }}" class="nav-btn">Contact</a></li>
    </ul>
  </nav>
</div>
  </head>
  <body>


    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.tagline | default: site.description | default: site.github.project_tagline }}</p>
          <hr>

        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
